h1 {
    width: 650px;
    margin-bottom: 12px;
    margin-left: 400px;
    font-size: 30px;
    font-family: Segoe UI;
   
}
hr {
    font-size: 24px;
    font-family: Segoe UI;
    margin-bottom: 12px;
    margin-left: 400px;
    margin-right: 315px;
    margin-top: 12px;
}
h4 {
    width: 650px;
    margin-top: 12px;
    margin-left: 400px;
    font-size: 16px;
 
    font-family: Segoe UI;
   
}
ul{
    width: 650px;
    margin-top: 12px;
    margin-left: 400px;
    font-size: 16px;
    font-family: Segoe UI;
    margin-bottom: 12px;
}

